@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(221,221,221);
  background: linear-gradient(135deg, rgba(221,221,221,1) 0%, rgba(122,212,143,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

main {
  display: flex;
  width: 1000px;
  background-color: #eee;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 1rem;
  justify-content: space-around;
}

main h2 {
  text-align: center;
}

.properties {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 50%;
}

.preview {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 50%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=color] {
  cursor: pointer;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type=color]::-webkit-color-swatch {
  border: none;
}
